<div class="container">
  <div class="row">
    <% posts.forEach( (post) => { %>
      <div class="col s4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src=<%= post.spotify.image %>>
          </div>
          <span class="new badge" data-badge-caption="votes">4</span>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4"><%= post.title %></span>
            <blockquote>
              <i><%= post.content %></i>
            </blockquote>
            <a class="btn-floating btn waves-effect waves-red blue-grey lighten-4 right" ><i class="material-icons">arrow_upward</i></a>
            <a href=<%= post.user.spotify.url %> class="btn-floating btn waves-effect waves-light red lighten-3 tooltipped" data-position="right" data-delay="50" data-tooltip=<%= post.user.spotify.username %>><i class="material-icons">person</i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 center-align"><%= post.spotify.name %></span>
            <iframe src=<%= 'https://open.spotify.com/embed?uri=' + post.playlistUri %> width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
